@import "../../styles/import";

.bui-calendar {
  width: @calendar-padding * 2 + @calendar-cell-size * 7;
  user-select: none;

  &__header {
    padding: @calendar-padding @calendar-padding 0;
    display: flex;
    flex-direction: row;
  }

  &__title {
    flex: 1;
  }

  &__body {
    overflow: hidden;
  }

  &__slider {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 300%;
    white-space: nowrap;
    transition: left 0.3s;
  }

  &__year-panel {
    .bui-calendar__cell {
      width: 20%;
      height: 20%;
    }
  }

  &__month-panel {
    .bui-calendar__cell {
      width: 33.3%;
      height: 25%;
    }
  }

  &__year-panel,
  &__month-panel,
  &__date-panel {
    display: inline-block;
    padding: @calendar-padding;
    width: 100%;
    white-space: normal;
  }

  &__date-panel-header{
    font-weight: bold;

    .bui-calendar__cell {
      cursor: auto;
      box-shadow: none !important;
      background: none !important;
    }
  }

  &__cell {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: @calendar-cell-size;
    height: @calendar-cell-size;
    line-height: @calendar-cell-size;
    border-radius: @calendar-cell-border-radius;
    text-align: center;
    background: @calendar-cell-fill;
    cursor: pointer;

    & > span {
      position: relative;
      z-index: 1;
    }

    &:hover {
      box-shadow:
        outside-shadow(@calendar-cell-border-color-hover, 70%),
        border-shadow(@calendar-cell-border-color-hover, 0%);
      transition: all 0.3s;
      z-index: 1;
    }

    &:active {
      background: fadeout(@calendar-cell-fill-active, 90%);
      box-shadow:
        outside-shadow(@calendar-cell-border-color-active, 70%),
        border-shadow(@calendar-cell-border-color-active, 0%);
      transition: all 0.3s;
    }

    &&--past {
      color: @calendar-cell-color-past;
    }

    &&--future {
      color: @calendar-cell-color-future;
    }

    &&--marked {
      &:after {
        position: absolute;
        content: '';
        height: @calendar-cell-mark-size;
        width: @calendar-cell-mark-size;
        left: 50%;
        bottom: 2px;
        background: @calendar-cell-mark-fill;
        border: @calendar-cell-mark-border;
        border-radius: @calendar-cell-mark-border-radius;
        transform: translate(-50%);
      }
    }

    &&--selected {
      z-index: 2;
      color: @calendar-cell-color-selected;
      background: @calendar-cell-fill-selected;
      box-shadow:
        outside-shadow(@calendar-cell-border-color-active, 70%),
        border-shadow(@calendar-cell-border-color-active, 0%);

      & > span {
        z-index: 3;
      }
    }

    &&--ranged {
      color: @calendar-cell-color-ranged;
      z-index: 1;

      &:before {
        position: absolute;
        display: block;
        background: @calendar-cell-fill-ranged;
        content: '';
        top: 50%;
        left: 50%;
        height: 80%;
        width: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
